In [1]:
import py_entitymatching as em
import pandas as pd
import os,sys
import math

In [2]:
## Reading csv tables into pandas dataframe

A=em.read_csv_metadata('Data/csv/yelp_list.csv')
A['ID'] = range(0,len(A))
em.set_key(A,'ID')


B=em.read_csv_metadata('Data/csv/zomato_list.csv')
B['ID'] = range(0,len(B))
em.set_key(B,'ID')

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.
WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

True

In [3]:
##Data Cleaning1: Converting  price range to an absolute number. Will be applied for yelp list 


def clean_price_range( price_str ):

    avg_price = ''
    
    if not isinstance(price_str,basestring)  and  math.isnan(price_str):
        return price_str

    str2 = price_str.replace('$','')
        
    if '-' in str2:
        num_l = int(str2.split('-')[0])
        num_r = int(str2.split('-')[1])
        num_avg = (num_l+num_r)/2
        avg_price = '$' + str(num_avg)

    else:
        str_word = str2.split()[0].lower()
        num_price  = int(str2.split()[1])
        
        if str_word == 'above':
            num_avg = int(num_price + num_price/2)
            avg_price = '$' + str(num_avg)

        else:
            num_avg = num_price/2
            avg_price = '$' + str(num_avg)
            
    return avg_price

In [4]:
##Data Cleaning2: Removing "reviews" string from num_reviews column. Will be applied for zomato list


def clean_num_reviews(review_string) :
      return int(review_string.split()[0])

In [5]:
##Data Cleaning3: Removing "restaurant" if it is the last word in restaurant name. to prevent inconsistentcy.Will be applied
## for both lists


def clean_name( name_str):

    name_lower = name_str.lower()

    name_2 = name_lower.split()[-1]
    
    if name_2 == 'restaurant':
        name_lower = name_lower.replace('restaurant','')
        
    return name_lower

In [6]:
##Data Cleaning4: Removing quotes and shortening some words in address.Will be applied for both zomato list
## only zomato 

def clean_address( address ):
    addr_2 = address.replace('\"','')
    addr_3 = addr_2.replace(',','')
    if "Street" in addr_3:
        addr_3 = addr_3.replace('Street','St')
    if "Boulevard" in addr_3:
        addr_3 = addr_3.replace('Boulevard','Blvd')
        
    return addr_3

In [7]:
def clean_rating_value(ratingValue):
    return str(ratingValue)

In [8]:
########## DATA CLEANING ################

A['price_range'] = A['price_range'].apply( clean_price_range )
A['name'] = A['name'].apply( clean_name )
A['ratingValue'] = A['ratingValue'].apply(clean_rating_value)



B['name'] = B['name'].apply( clean_name )
B['address'] = B['address'].apply( clean_address )
B['number_of_reviews'] = B['number_of_reviews'].apply( clean_num_reviews )
B['ratingValue'] = B['ratingValue'].apply(clean_rating_value)

In [9]:
#To find missing values 
len(A.ID) - A.count()

number_of_reviews     0
price_range          44
ratingValue           0
name                  0
address               0
ID                    0
dtype: int64

In [10]:
len(B.ID) - B.count()

number_of_reviews    0
price_range          0
ratingValue          0
name                 0
address              0
ID                   0
dtype: int64

In [11]:
block_f = em.get_features_for_blocking(A,B)

In [12]:
block_f

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,number_of_reviews_number_of_reviews_exm,number_of_reviews,number_of_reviews,None,None,exact_match,<function number_of_reviews_number_of_reviews_exm at 0x7ff40ebbb6e0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
1,number_of_reviews_number_of_reviews_anm,number_of_reviews,number_of_reviews,None,None,abs_norm,<function number_of_reviews_number_of_reviews_anm at 0x7ff40ebbb5f0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
2,number_of_reviews_number_of_reviews_lev_dist,number_of_reviews,number_of_reviews,None,None,lev_dist,<function number_of_reviews_number_of_reviews_lev_dist at 0x7ff40ebbb8c0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
3,number_of_reviews_number_of_reviews_lev_sim,number_of_reviews,number_of_reviews,None,None,lev_sim,<function number_of_reviews_number_of_reviews_lev_sim at 0x7ff40ebbb578>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
4,price_range_price_range_lev_dist,price_range,price_range,None,None,lev_dist,<function price_range_price_range_lev_dist at 0x7ff40ebbb500>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
5,price_range_price_range_lev_sim,price_range,price_range,None,None,lev_sim,<function price_range_price_range_lev_sim at 0x7ff40ebbb488>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
6,price_range_price_range_jar,price_range,price_range,None,None,jaro,<function price_range_price_range_jar at 0x7ff40ebbb410>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
7,price_range_price_range_jwn,price_range,price_range,None,None,jaro_winkler,<function price_range_price_range_jwn at 0x7ff40e0e5050>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
8,price_range_price_range_exm,price_range,price_range,None,None,exact_match,<function price_range_price_range_exm at 0x7ff40e0e50c8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
9,price_range_price_range_jac_qgm_3_qgm_3,price_range,price_range,qgm_3,qgm_3,jaccard,<function price_range_price_range_jac_qgm_3_qgm_3 at 0x7ff40e0e5140>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
10,ratingValue_ratingValue_lev_dist,ratingValue,ratingValue,None,None,lev_dist,<function ratingValue_ratingValue_lev_dist at 0x7ff40e0e51b8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
11,ratingValue_ratingValue_lev_sim,ratingValue,ratingValue,None,None,lev_sim,<function ratingValue_ratingValue_lev_sim at 0x7ff40e0e5230>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
12,ratingValue_ratingValue_jar,ratingValue,ratingValue,None,None,jaro,<function ratingValue_ratingValue_jar at 0x7ff40e0e52a8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
13,ratingValue_ratingValue_jwn,ratingValue,ratingValue,None,None,jaro_winkler,<function ratingValue_ratingValue_jwn at 0x7ff40e0e5320>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
14,ratingValue_ratingValue_exm,ratingValue,ratingValue,None,None,exact_match,<function ratingValue_ratingValue_exm at 0x7ff40e0e5398>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
15,ratingValue_ratingValue_jac_qgm_3_qgm_3,ratingValue,ratingValue,qgm_3,qgm_3,jaccard,<function ratingValue_ratingValue_jac_qgm_3_qgm_3 at 0x7ff40e0e5410>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
16,name_name_jac_qgm_3_qgm_3,name,name,qgm_3,qgm_3,jaccard,<function name_name_jac_qgm_3_qgm_3 at 0x7ff40e0e5488>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
17,name_name_cos_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,cosine,<function name_name_cos_dlm_dc0_dlm_dc0 at 0x7ff40e0e5500>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
18,name_name_jac_dlm_dc0_dlm_dc0,name,name,dlm_dc0,dlm_dc0,jaccard,<function name_name_jac_dlm_dc0_dlm_dc0 at 0x7ff40e0e5578>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
19,name_name_mel,name,name,None,None,monge_elkan,<function name_name_mel at 0x7ff40e0e55f0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
20,name_name_lev_dist,name,name,None,None,lev_dist,<function name_name_lev_dist at 0x7ff40e0e5668>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
21,name_name_lev_sim,name,name,None,None,lev_sim,<function name_name_lev_sim at 0x7ff40e0e56e0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
22,name_name_nmw,name,name,None,None,needleman_wunsch,<function name_name_nmw at 0x7ff40e0e5758>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
23,name_name_sw,name,name,None,None,smith_waterman,<function name_name_sw at 0x7ff40e0e57d0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
24,address_address_jac_qgm_3_qgm_3,address,address,qgm_3,qgm_3,jaccard,<function address_address_jac_qgm_3_qgm_3 at 0x7ff40e0e5848>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
25,address_address_cos_dlm_dc0_dlm_dc0,address,address,dlm_dc0,dlm_dc0,cosine,<function address_address_cos_dlm_dc0_dlm_dc0 at 0x7ff40e0e58c0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
26,address_address_mel,address,address,None,None,monge_elkan,<function address_address_mel at 0x7ff40e0e5938>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
27,address_address_lev_dist,address,address,None,None,lev_dist,<function address_address_lev_dist at 0x7ff40e0e59b0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
28,address_address_lev_sim,address,address,None,None,lev_sim,<function address_address_lev_sim at 0x7ff40e0e5a28>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
29,ID_ID_exm,ID,ID,None,None,exact_match,<function ID_ID_exm at 0x7ff40e0e5aa0>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
30,ID_ID_anm,ID,ID,None,None,abs_norm,<function ID_ID_anm at 0x7ff40e0e5b18>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
31,ID_ID_lev_dist,ID,ID,None,None,lev_dist,<function ID_ID_lev_dist at 0x7ff40e0e5b90>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
32,ID_ID_lev_sim,ID,ID,None,None,lev_sim,<function ID_ID_lev_sim at 0x7ff40e0e5c08>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

In [13]:
##Rule based on restaurant name similarity, 0.80 score is derived from debugging blocking output
rb1 = em.RuleBasedBlocker()
rule1 = 'name_name_lev_sim(ltuple,rtuple) < 0.60'
rb1.add_rule(rule1, block_f )

##Rule based on address similarity
rb2 = em.RuleBasedBlocker()
rule2 = 'address_address_jac_qgm_3_qgm_3(ltuple,rtuple) < 0.8'
rb2.add_rule(rule2,block_f)

'_rule_0'

In [14]:
## To block based on zipcode equivalence

def zipcode_match(x, y):
    # x, y will be of type pandas series
    
    # get address attribute
    x_address = x['address']
    y_address = y['address']
    
    # get the zipcode
    x_split, y_split = x_address.split(), y_address.split()
    x_zipcode = x_split[len(x_split) - 1]
    y_zipcode = y_split[len(y_split) - 1]
    
    # check if the zipcode match
    if x_zipcode != y_zipcode:
        return True
    else:
        return False

In [15]:
# Instantiate blackbox blocker
bb = em.BlackBoxBlocker()

# Set the black box function
bb.set_black_box_function(zipcode_match)

In [16]:
## Blocking Pipeline- First block based on zip code then block based on address similarity##

C1 = bb.block_tables(A,B,l_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'],r_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'],n_jobs=-1)

C2 = rb2.block_candset(C1,n_jobs=-1)

###Direct name blocker###
C3 = rb1.block_candset(C1,n_jobs=-1)

## Direct Address blocker not enabled##
#C2 = rb2.block_tables(A,B,l_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'],r_output_attrs=['ID','name','address','ratingValue','price_range','number_of_reviews'])

C4 = em.combine_blocker_outputs_via_union([C2, C3])

0%                          100%
[##############################] | ETA: 00:09:54 | ETA: 00:08:55 | ETA: 00:08:18 | ETA: 00:07:52 | ETA: 00:07:30 | ETA: 00:07:08 | ETA: 00:06:47 | ETA: 00:06:26 | ETA: 00:06:07 | ETA: 00:05:49 | ETA: 00:05:33 | ETA: 00:05:15 | ETA: 00:04:57 | ETA: 00:04:40 | ETA: 00:04:22 | ETA: 00:04:04 | ETA: 00:03:46 | ETA: 00:03:29 | ETA: 00:03:12 | ETA: 00:02:55 | ETA: 00:02:37 | ETA: 00:02:20 | ETA: 00:02:02 | ETA: 00:01:45 | ETA: 00:01:27 | ETA: 00:01:10 | ETA: 00:00:52 | ETA: 00:00:35 | ETA: 00:00:17 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:08:44
0%                          100%
[                              ]0%                          100%
[##############################] | ETA: 00:00:33 | ETA: 00:00:27 | ETA: 00:00:27 | ETA: 00:00:25 | ETA: 00:00:23 | ETA: 00:00:21 | ETA: 00:00:20 | ETA: 00:00:18 | ETA: 00:00:17 | ETA: 00:00:16 | ETA: 00:00:15 | ETA: 00:00:14 | ETA: 00:00:13 | ETA: 00:00:13 | ETA: 00:00:12 | ETA: 00:00:11 | ETA: 00:00:10 | ETA: 00:00:09 | ETA: 00:00:08 | ETA: 00:00:07 | ETA: 00:00:07 | ETA: 00:00:06 | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:23
0%                          100%
[                              ]0%                          100%
[##############################] | ETA: 00:00:18 | ETA: 00:00:14 | ETA: 00:00:14 | ETA: 00:00:13 | ETA: 00:00:12 | ETA: 00:00:11 | ETA: 00:00:10 | ETA: 00:00:09 | ETA: 00:00:09 | ETA: 00:00:08 | ETA: 00:00:07 | ETA: 00:00:07 | ETA: 00:00:06 | ETA: 00:00:06 | ETA: 00:00:05 | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:00:10

In [17]:
## Debugging blocker to make sure true positives are not left out in candidate set
dbg = em.debug_blocker(C4,A,B,output_size=400)

In [18]:
dbg

,_id,similarity,ltable_ID,rtable_ID,ltable_price_range,ltable_ratingValue,ltable_name,ltable_address,rtable_price_range,rtable_ratingValue,rtable_name,rtable_address
0,0,0.733333,2130,494,$20,4.0,stiles switch bbq & brew,6610 N Lamar Blvd Austin TX 78757,$40,3.8,stiles switch bbq & brew,6610 N Lamar Blvd Austin TX 78752
1,1,0.714286,2672,2576,$5,4.0,the sandwich spot,5126 Stevens Creek Blvd San Jose CA 95051,$35,2.8,the sandwich spot,5126 Stevens Creek Blvd San Jose CA 95129
2,2,0.692308,1584,1041,$45,3.5,bluefin japanese,754 The Alameda San Jose CA 95126,$80,3.5,bluefin,754 The Alameda St Suite 10 San Jose CA 95126
3,3,0.692308,3022,2933,$5,3.5,waffle house,7809 E Ben White Blvd Austin TX 78744,$15,3.2,waffle house,7809 E Ben White Blvd Austin TX 78741
4,4,0.687500,405,2726,$20,4.5,takai sushi and sake bar,170 S Market St San Jose CA 95113,$40,-,takai sushi & sake bar,170 S Market St San Jose CA
5,5,0.666667,604,2218,$20,4.0,cafe habana,17 Prince St New York NY 10012,$55,4.0,fanelli's cafe,94 Prince St New York NY 10012
6,6,0.666667,1486,2168,$20,3.0,affinity restaurant & bar,300 Almaden Blvd San Jose CA 95113,$35,-,affinity restaurant & bar,300 N Almaden Blvd San Jose CA 95110
7,7,0.666667,1679,851,$20,4.0,galaxy cafe,1000 W Lynn St Austin TX 78703,$40,4.0,zocalo cafe,1110 W Lynn St Austin TX 78703
8,8,0.666667,2876,461,$45,4.0,raymi,43 W 24th St New York NY 10010,$150,4.0,junoon,27 W 24th St New York NY 10010
9,9,0.666667,1810,3041,$5,4.5,agave mexican grill,17 S 4th St San Jose CA 95112,$30,-,el agave mexican grill,17 S 4th St San Jose CA 95113
10,10,0.636364,1913,3240,$20,4.0,kevins,277A Van Brunt St Brooklyn NY 11231,$15,4.0,baked,359 Van Brunt St Brooklyn NY 11231
11,11,0.636364,2105,114,$5,4.5,sundaze,2323 S Lamar Blvd Austin TX 78704,$60,4.5,uchi,801 S Lamar Blvd Austin TX 78704
12,12,0.636364,820,2796,$20,4.0,pies-n-thighs,166 S 4th St Brooklyn NY 11211,$75,4.0,traif,229 S 4th St Brooklyn NY 11211
13,13,0.636364,1048,2246,$45,4.0,tavo,615 Hudson St New York NY 10014,$70,4.0,cowgirl,519 Hudson St New York NY 10014
14,14,0.636364,279,114,$20,4.5,delicious,1100 S Lamar Blvd Austin TX 78704,$60,4.5,uchi,801 S Lamar Blvd Austin TX 78704
15,15,0.636364,80,57,$20,4.0,serious pie,316 Virginia St Seattle WA 98121,$40,4.3,serious pie,316 Virginia St Seattle WA 98101
16,16,0.636364,1049,185,$20,4.5,rider,80 N 6th St Brooklyn NY 11249,$50,4.5,sea,114 N 6th St Brooklyn NY 11249
17,17,0.636364,894,2924,$20,4.0,lavaca teppan,1712 Lavaca St Austin TX 78701,$35,3.4,lavaca teppan,1712 Lavaca St Austin TX 78712
18,18,0.636364,221,1799,$20,4.0,distilled,211 W Broadway New York NY 10013,$90,4.0,landmarc,179 W Broadway New York NY 10013
19,19,0.636364,2544,3242,$5,4.5,thailicious,75 Baxter St New York NY 10013,$105,4.5,forlini's,93 Baxter St New York NY 10013
20,20,0.636364,1231,301,$20,4.0,kaita,215 Jackson St San Jose CA 95112,$43,4.0,hukilau,230 Jackson St San Jose CA 95112
21,21,0.615385,2732,2361,$20,4.0,katzs delicatessen,205 E Houston St New York NY 10002,$70,4.0,macondo,157 E Houston St New York NY 10002
22,22,0.615385,1891,29,$5,4.0,cenote,1010 E Cesar Chavez St Austin TX 78702,$40,4.0,la barbecue,1906 E Cesar Chavez St Austin TX 78702
23,23,0.615385,2729,1694,$45,4.0,periyali,35 W 20th St New York NY 10011,$25,4.0,caf grumpy,224 W 20th St New York NY 10011
24,24,0.615385,219,1588,$20,4.0,shanghai asian manor,21 Mott St New York NY 10013,$35,4.0,shanghai caf,100 Mott St New York NY 10013
25,25,0.600000,309,363,$20,3.5,olla cocina,17 N San Pedro St San Jose CA 95110,$30,3.5,firehouse no.1,69 N San Pedro St San Jose CA 95110
26,26,0.600000,352,688,$20,4.5,june,231 Court St Brooklyn NY 11201,$30,4.5,joya,215 Court St Brooklyn NY 11201
27,27,0.583333,33,1459,$45,4.0,eberly,615 S Lamar Blvd Austin TX 78704,$20,4.0,papalote taco,2803 S Lamar Blvd Austin TX 78704
28,28,0.583333,1299,3240,$20,4.0,fort defiance,365 Van Brunt St Brooklyn NY 11231,$15,4.0,baked,359 Van Brunt St Brooklyn NY 11231
29,29,0.583333,246,1660,$20,4.0,dan izakaya,1306 Saratoga Ave San Jose CA 95129,$50,-,dan izakaya,1306 Saratoga Avenue San Jose CA
...,...,...,...,...,...,...,...,...,...,...,...,...
370,370,0.500000,2885,303,$20,3.5,okayama japanese,565 N 6th St San Jose CA 95112,$20,3.9,minato,617 N 6th St San Jose CA 95112
371,371,0.500000,2926,3090,$5,3.5,hue xua,301 E Santa Clara St San Jose CA 95113,$25,-,dive bar,78 E Santa Clara St San Jose CA 95113
372,372,0.500000,2926,2059,$5,3.5,hue xua,301 E Santa Clara St San Jose CA 95113,$20,3.5,plaza garibaldi,1170 E Santa Clara St San Jose CA 95116
373,373,0.500000,1744,934,$45,4.0,il cantinori,32 E 10th St New York NY 10003,$25,4.0,baohaus,238 E 14th St New York NY 10003
374,374,0.500000,3067,1622,$20,3.5,winflo osteria,1315 W 6th St Austin TX 78703,$25,3.5,clark's oyster bar,1200 W 6th St Austin TX 78703
375,375,0.500000,2857,3215,$20,4.0,fiore,284 Grand St Brooklyn NY 11211,$60,4.0,caracas arepa bar,291 Grand St Brooklyn NY 11211
376,376,0.500000,3149,2185,$5,4.5,bombay express,13000 N Interstate 35 Austin TX 78753,$40,3.3,chang thai,13000 Interstate Hwy 35 N Austin TX 78753
377,377,0.500000,2185,1208,$20,3.0,gordon biersch brewery,33 E San Fernando St San Jose CA 95113,$15,3.1,chacho's,87 E San Fernando St San Jose CA 95113
378,378,0.500000,3033,528,NaN,4.5,ousia,629 W 57th St New York NY 10019,$120,4.1,nobu 57,40 W 57th St New York NY 10019
379,379,0.500000,3033,1030,NaN,4.5,ousia,629 W 57th St New York NY 10019,$80,4.3,angelo's pizza,117 W 57th St New York NY 10019
380,380,0.500000,2930,367,$20,3.5,yakiniq sj,1783 W San Carlos St San Jose CA 95128,$80,3.5,gojo ethiopian,1261 W San Carlos St San Jose CA 95126
381,381,0.500000,1703,363,$20,4.0,farmers union,35 N San Pedro St San Jose CA 95110,$30,3.5,firehouse no.1,69 N San Pedro St San Jose CA 95110
382,382,0.500000,2787,339,$20,4.0,halcyon,218 W 4th St Austin TX 78701,$70,4.0,taverna,258 W 2nd St Austin TX 78701
383,383,0.500000,2305,2291,$45,4.0,yakitori totto,251 W 55th St New York NY 10019,$120,3.6,benoit,60 W 55th St New York NY 10019
384,384,0.500000,2159,1061,$20,4.5,punjab cafe,1699 W San Carlos St San Jose CA 95128,$10,3.9,gulzaar halaal,1880 W San Carlos St San Jose CA 95128
385,385,0.500000,1376,3120,$20,4.0,ocho,2325 NW Market St Seattle WA 98107,$40,3.3,palermo,2005 NW Market St Seattle WA 98107
386,386,0.500000,2845,2977,$20,3.5,cedar door,201 Brazos St Austin TX 78701,$20,3.5,the onion,408 Brazos St Austin TX 78701
387,387,0.500000,2405,1403,$5,4.5,aladdin falafel corner,4541 University Way NE Seattle WA 98105,$15,3.9,aladdin gyrocery,4139 University Way NE Seattle WA 98105
388,388,0.500000,2355,452,$45,4.0,alc steaks,1205 N Lamar Blvd Austin TX 78703,$35,4.0,shoal creek saloon,909 N Lamar Blvd Austin TX 78703
389,389,0.500000,2428,1303,$20,4.5,the burgary,67 Clinton St New York NY 10002,$50,4.5,the meatball shop,84 Stanton St New York NY 10002
390,390,0.500000,2448,960,$5,2.5,savoy,1144 N 4th St San Jose CA 95112,$15,3.4,foster's freeze,698 N 4th St San Jose CA 95112
391,391,0.500000,2006,2160,$20,3.5,picassos tapas,62 W Santa Clara St San Jose CA 95113,$35,2.8,dac phuc,198 W Santa Clara St San Jose CA 95113
392,392,0.500000,3010,537,$20,4.0,verlaine,110 Rivington St New York NY 10002,$110,4.2,freemans,8 Rivington St New York NY 10002
393,393,0.500000,2729,1025,$45,4.0,periyali,35 W 20th St New York NY 10011,$110,4.0,basta pasta,37 W 17th St New York NY 10011
394,394,0.500000,3180,2977,$20,3.5,uncle julios,301 Brazos St Austin TX 78701,$20,3.5,the onion,408 Brazos St Austin TX 78701
395,395,0.500000,2570,607,$20,3.5,korean palace,2297 Stevens Creek Blvd San Jose CA 95128,$13,3.5,siam fine thai cuisine,2910 Stevens Creek Blvd San Jose CA 95128
396,396,0.500000,3080,2246,$91,4.0,nobu,105 Hudson St New York NY 10013,$70,4.0,cowgirl,519 Hudson St New York NY 10014
397,397,0.500000,2930,1061,$20,3.5,yakiniq sj,1783 W San Carlos St San Jose CA 95128,$10,3.9,gulzaar halaal,1880 W San Carlos St San Jose CA 95128
398,398,0.500000,2877,3139,$20,4.0,fish,280 Bleecker St New York NY 10014,$150,4.0,sevilla,62 Charles St New York NY 10014
399,399,0.500000,2885,1165,$20,3.5,okayama japanese,565 N 6th St San Jose CA 95112,$50,3.5,tsugaru japanese,224 Jackson St San Jose CA 95112

In [19]:
##Writing final candidate set to CSV file
em.to_csv_metadata(C4,'./C4_output.csv')

WARNING:py_entitymatching.io.parsers:File already exists at ./C4_output.csv; Overwriting it
WARNING:py_entitymatching.io.parsers:Metadata file already exists at ./C4_output.metadata. Overwriting it

True

In [22]:
S = em.sample_table(C4, 350)

In [23]:
G = em.label_table(S, 'gold_labels')

WARNING:py_entitymatching.utils.catalog_helper:Column name (gold_labels) is not present in dataframe

In [27]:
em.save_object(G, './GoldenData.pkl')

True

In [28]:
G = em.load_object('./GoldenData.pkl')

In [29]:
G.groupby('gold_labels').count()

,_id,ltable_ID,rtable_ID,ltable_name,ltable_address,ltable_ratingValue,ltable_price_range,ltable_number_of_reviews,rtable_name,rtable_address,rtable_ratingValue,rtable_price_range,rtable_number_of_reviews
gold_labels,,,,,,,,,,,,,
0,179,179,179,179,179,179,179,179,179,179,179,179,179
1,171,171,171,171,171,171,171,171,171,171,171,171,171

In [ ]:
train_test = em.split_train_test(G, train_proportion=0.5)
devel_set = train_test['train']

In [ ]:
eval_set = train_test['test']

In [ ]:
match_t = em.get_tokenizers_for_matching()
match_s = em.get_sim_funs_for_matching()

In [ ]:
atypes1 = em.get_attr_types(A) # don't need, if atypes1 exists from blocking step
atypes2 = em.get_attr_types(B) # don't need, if atypes2 exists from blocking step

match_c = em.get_attr_corres(A, B)

In [ ]:
match_f = em.get_features_for_matching(A, B)

In [ ]:
em._match_t

In [ ]:
em._match_s

In [ ]:
em._atypes1

In [37]:
em._atypes2

{'ID': 'numeric',
 '_table':      number_of_reviews price_range ratingValue                         name  \
 0                   24         $20         4.6         la victoria taqueria
 1                   19         $40         4.6                  the counter
 2                   44         $20         4.9           falafel's drive-in
 3                   17         $40         4.4               new krung thai
 4                   28         $70         4.1               original joe's
 5                    6         $30         4.2                    adelita's
 6                   14         $65         4.0      maggiano's little italy
 7                   26         $40         4.4                blue rock bbq
 8                   16         $43         4.2              zeni ethiopian
 9                    9         $35         4.3              sam's bar-b-que
 10                  14         $65         4.0                  amber india
 11                  15         $75         4.1              henry's hi-life
 12                  13         $13         3.7                   yard house
 13                  12         $30         4.7              in-n-out burger
 14                  11         $45         4.2                 pizza antica
 15                   7         $43         4.0                     scramblz
 16                  12         $43         4.3           naglee park garage
 17                  10         $45         4.0                 aqui cal-mex
 18                   8         $80         4.3                         bj's
 19                  14         $40         4.3                   il fornaio
 20                  12         $25         4.0                  habana cuba
 21                   2         $60         4.1                         aqui
 22                   2         $50         3.1                     pieology
 23                  10         $45         3.7    blowfish sushi to die for
 24                  11         $40         3.7                      straits
 25                   5         $35         3.8            poor house bistro
 26                  27         $20         4.3                   p. terry's
 27                 129         $25         4.5           pike place chowder
 28                  38         $50         4.3        hyde park bar & grill
 29                  38         $40         4.0                  la barbecue
 ...                ...         ...         ...                          ...
 3214                14         $50         3.7                 uncle nick's
 3215                16         $60         4.0            caracas arepa bar
 3216                19         $60         3.8                 gustorganics
 3217                16        $150         3.6                       robert
 3218                 7         $50         2.9               the malt house
 3219                13        $120         3.9               joseph leonard
 3220                 9         $60         4.0               tortilla flats
 3221                13         $50         4.3                    saraghina
 3222                10         $80         4.1                    sugarcane
 3223                10         $20         4.0          best bagel & coffee
 3224                22         $40         4.0                neptune diner
 3225                 9         $65         3.2                        haldi
 3226                12         $75         3.7                  aurora soho
 3227                14         $60         4.3                zenon taverna
 3228                11         $60         3.4                 lantern thai
 3229                11        $120         3.6                    indochine
 3230                15         $40         3.7                ping seafood
 3231                13        $100         3.6             saxon and parole
 3232                20         $50         3.9                peacefood caf
 3233                20         $60         3.9                 tout va bien
 3234                11         $60         2.1               kailash parbat
 3235                15        $150         4.2        jack the horse tavern
 3236                 6         $70         3.8                   blaue gans
 3237                14         $40         3.5      panna ii garden indian
 3238                11        $100         3.9                     kanoyama
 3239                14         $40         4.0  sammy's noodle shop & grill
 3240                15         $15         4.0                        baked
 3241                16         $30         4.1               habana outpost
 3242                20        $105         4.5                   forlini's
 3243                15        $100         3.7               hecho en dumbo

                                                                           address  \
 0                                        140 East San Carlos St San Jose CA 95112
 1                       Santana Row 3055 Olin Avenue Suite 1035 San Jose CA 95128
 2                                       2301 Stevens Creek Blvd San Jose CA 95128
 3                                        640 S Winchester Blvd  San Jose CA 95128
 4                                            301 South First St San Jose CA 95113
 5                                           1896 Curtner Avenue San Jose CA 95124
 6                       Santana Row 3055 Olin Avenue Suite 1000 San Jose CA 95128
 7                                          3001 Meridian Avenue San Jose CA 95124
 8                                          1320 Saratoga Avenue San Jose CA 95129
 9                                      1110 South Bascom Avenue San Jose CA 95128
 10                                   377 Santana Row Suite 1140 San Jose CA 95128
 11                                          301 West St John St San Jose CA 95110
 12                                    300 Santana Row Suite 101 San Jose CA 95128
 13                                       5611 Santa Teresa Blvd San Jose CA 95123
 14                                              334 Santana Row San Jose CA 95128
 15                                      5055 Almaden Expressway San Jose CA 95118
 16                                       505 East San Carlos St San Jose CA 95112
 17                                            5679 Snell Avenue San Jose CA 95123
 18                     Westfield Oakridge 925 Blossom Hill Road San Jose CA 95123
 19                                             302 S Market St  San Jose CA 95113
 20                                                  238 Race St San Jose CA 95126
 21                                          1145 Lincoln Avenue San Jose CA 95125
 22                                           1095 E Brokaw Road San Jose CA 95131
 23                                              355 Santana Row San Jose CA 95128
 24                                              333 Santana Row San Jose CA 95128
 25                                               91 S Autumn St San Jose CA 95110
 26                                               404 S Lamar Blvd Austin TX 78704
 27                             Pike Place Market 1530 Post Alley Seattle WA 98101
 28                                                  4206 Duval St Austin TX 78751
 29                                         1906 E Cesar Chavez St Austin TX 78702
 ...                                                                           ...
 3214                                             747 9th Avenue New York NY 10019
 3215                                               291 Grand St Brooklyn NY 11211
 3216                                 519 Avenue of the Americas New York NY 10011
 3217  The Museum of Arts and Design 2 Columbus Circle 9th Floor New York NY 10019
 3218                                            206 Thompson St New York NY 10012
 3219                                          170 Waverly Place New York NY 10014
 3220                                          767 Washington St New York NY 10014
 3221                                              435 Halsey St Brooklyn NY 11233
 3222                                        238 Flatbush Avenue Brooklyn NY 11217
 3223                                              225 W 35th St New York NY 10001
 3224                                           31-05 Astoria Blvd Queens NY 11102
 3225                                    102 Lexington Avenue New York NY NY 10016
 3226                                              510 Broome St New York NY 10013
 3227                                            34-10 31st Avenue Queens NY 11106
 3228                                                     101 Montague St NY 11201
 3229                                           430 Lafayette St New York NY 10003
 3230                                                 22 Mott St New York NY 10013
 3231                                                 316 Bowery New York NY 10012
 3232                                       460 Amsterdam Avenue New York NY 10024
 3233                                              311 W 51st St New York NY 10019
 3234                                        99 Lexington Avenue New York NY 10016
 3235                                                66 Hicks St Brooklyn NY 11201
 3236                                               139 Duane St New York NY 10013
 3237                                              93 1st Avenue New York NY 10003
 3238                                             175 2nd Avenue New York NY 10003
 3239                                         453-461 6th Avenue New York NY 10011
 3240                                           359 Van Brunt St Brooklyn NY 11231
 3241                                              757 Fulton St Brooklyn NY 11217
 3242                                               93 Baxter St New York NY 10013
 3243                                                 354 Bowery New York NY 10012

         ID
 0        0
 1        1
 2        2
 3        3
 4        4
 5        5
 6        6
 7        7
 8        8
 9        9
 10      10
 11      11
 12      12
 13      13
 14      14
 15      15
 16      16
 17      17
 18      18
 19      19
 20      20
 21      21
 22      22
 23      23
 24      24
 25      25
 26      26
 27      27
 28      28
 29      29
 ...    ...
 3214  3214
 3215  3215
 3216  3216
 3217  3217
 3218  3218
 3219  3219
 3220  3220
 3221  3221
 3222  3222
 3223  3223
 3224  3224
 3225  3225
 3226  3226
 3227  3227
 3228  3228
 3229  3229
 3230  3230
 3231  3231
 3232  3232
 3233  3233
 3234  3234
 3235  3235
 3236  3236
 3237  3237
 3238  3238
 3239  3239
 3240  3240
 3241  3241
 3242  3242
 3243  3243

 [3244 rows x 6 columns],
 'address': 'str_bt_5w_10w',
 'name': 'str_bt_1w_5w',
 'number_of_reviews': 'str_eq_1w',
 'price_range': 'str_eq_1w',
 'ratingValue': 'str_eq_1w'}

In [38]:
em._match_c

{'corres': [('number_of_reviews', 'number_of_reviews'),
  ('price_range', 'price_range'),
  ('ratingValue', 'ratingValue'),
  ('name', 'name'),
  ('address', 'address'),
  ('ID', 'ID')],
 'ltable':       number_of_reviews price_range  ratingValue  \
 0                   125         $20          5.0
 1                  1041         $91          4.0
 2                   146         $20          4.5
 3                   266         $20          4.5
 4                   159         $20          4.5
 5                   287         $20          4.5
 6                  1210         $20          4.5
 7                   890         $20          4.0
 8                   772         $45          4.5
 9                   576         $20          4.5
 10                  192         $45          4.0
 11                  392         $20          4.0
 12                  165         $20          4.5
 13                  103         $20          5.0
 14                  379         $20          4.5
 15                  121         $20          4.5
 16                  142         $20          4.0
 17                   21         $20          5.0
 18                   67         $20          4.5
 19                 1322         $45          4.5
 20                   87         $20          4.5
 21                  209         $20          4.5
 22                   36         $20          4.0
 23                 2251         $20          4.0
 24                  110         $20          4.5
 25                  217         $20          4.5
 26                    7          $5          5.0
 27                  136         $20          4.5
 28                  780         $20          4.0
 29                  198         $20          4.0
 ...                 ...         ...          ...
 3218                235         $20          4.0
 3219                153         $20          4.5
 3220                 72          $5          4.0
 3221                 64         $20          4.0
 3222                 39          $5          4.5
 3223                 42          $5          5.0
 3224                282         $20          4.5
 3225                 97          $5          2.0
 3226                 62          $5          4.0
 3227                167          $5          4.0
 3228                 32         $20          4.5
 3229                475         $20          3.5
 3230                184          $5          4.5
 3231                 10          $5          4.5
 3232                132          $5          4.0
 3233                 55          $5          3.5
 3234                 37         $20          3.5
 3235                  8         $20          3.5
 3236                166          $5          4.5
 3237                 36         $45          4.5
 3238                217         $20          3.5
 3239                 45          $5          4.5
 3240                290          $5          3.5
 3241                  2         NaN          4.5
 3242                 68          $5          4.0
 3243                138          $5          3.5
 3244                300         $20          4.0
 3245                 31          $5          4.5
 3246                136         $20          3.0
 3247                 90         $20          4.5

                                    name  \
 0                               dee dee
 1                                canlis
 2                                gopok
 3                      thursday kitchen
 4                                simple
 5                           dutch freds
 6                                  list
 7                  second bar + kitchen
 8                          barley swine
 9                        il corvo pasta
 10                          emmer & rye
 11                      reserve a table
 12           herb & bitter public house
 13                               kichin
 14                              karczma
 15                     excuse my french
 16       the factory - cafe with a soul
 17                                 post
 18                                mahji
 19                      reserve a table
 20                              win son
 21                           da claudio
 22                 waka ramen & izakaya
 23                           love mamak
 24                  samba kitchen & bar
 25             jack allens kitchen 360
 26                way south philly deli
 27                      reserve a table
 28                         roaring fork
 29                               corner
 ...                                 ...
 3218                    sushi bang bang
 3219                            el mate
 3220                 house park bar-b-q
 3221                    biryani-n-grill
 3222                         planet sub
 3223                         halal time
 3224                       veggie grill
 3225                           maudies
 3226                   72nd street cafe
 3227                      nollies cafe
 3228                      zinnia bistro
 3229             ocean delight seafood
 3230             tuccis southside subs
 3231  julies food service and catering
 3232                    saigons bakery
 3233   rajjot indian cuisine and sweets
 3234                ernies on the lake
 3235         mangia chicago pizza style
 3236                    live oak market
 3237                               king
 3238                     taste of china
 3239             la mejor taqueria no 2
 3240                  a bite of wyoming
 3241                   com ga hang xanh
 3242  el rancho liquor store / taqueria
 3243                          tacomania
 3244                       puerto viejo
 3245                    st kilda coffee
 3246                      com 90 degree
 3247             chef eddie gs kitchen

                                               address    ID
 0              1906 E Cesar Chavez St Austin TX 78702     0
 1                  2576 Aurora Ave N Seattle WA 98109     1
 2                      625 S King St Seattle WA 98104     2
 3                      424 E 9th St New York NY 10009     3
 4                   109 Eldridge St New York NY 10002     4
 5                     307 W 47th St New York NY 10036     5
 6                       2226 1st Ave Seattle WA 98121     6
 7                    200 Congress Ave Austin TX 78701     7
 8                      6555 Burnet Rd Austin TX 78757     8
 9                       217 James St Seattle WA 98104     9
 10                       51 Rainey St Austin TX 78701    10
 11                 1346 Lincoln Ave San Jose CA 95125    11
 12                    516 Broadway E Seattle WA 98102    12
 13                     297 Broadway Brooklyn NY 11211    13
 14               136 Greenpoint Ave Brooklyn NY 11222    14
 15                    96 Orchard St New York NY 10002    15
 16                     7718 Burnet Rd Austin TX 78757    16
 17                         42 Ave B New York NY 10009    17
 18                     617 Grand St Brooklyn NY 11211    18
 19                    558 Broome St New York NY 10013    19
 20                   159 Graham Ave Brooklyn NY 11206    20
 21                        21 Ann St New York NY 10038    21
 22                    432 E 13th St New York NY 10009    22
 23                      174 2nd Ave New York NY 10003    23
 24                      661 9th Ave New York NY 10036    24
 25    3600 North Capital of Texas Hwy Austin TX 78746    25
 26                     5222 Burnet Rd Austin TX 78756    26
 27                      327 2nd Ave New York NY 10003    27
 28               10850 Stonelake Blvd Austin TX 78759    28
 29                       110 E 2nd St Austin TX 78701    29
 ...                                               ...   ...
 3218              14005 North Hwy 183 Austin TX 78717  3218
 3219                   550 Court St Brooklyn NY 11231  3219
 3220                    900 W 12th St Austin TX 78703  3220
 3221         3601 W William Cannon Dr Austin TX 78749  3221
 3222                 906 Congress Ave Austin TX 78701  3222
 3223                    1501 E 6th St Austin TX 78702  3223
 3224                 446 Terry Ave N Seattle WA 98109  3224
 3225   Austin-Bergstrom Int'l Airport Austin TX 78719  3225
 3226                  308 NE 72nd St Seattle WA 98115  3226
 3227                1165 Harrison St Seattle WA 98109  3227
 3228                  1759 1st Ave S Seattle WA 98134  3228
 3229               5400 Monterey Rd San Jose CA 95111  3229
 3230          801 E William Cannon Dr Austin TX 78745  3230
 3231                 3939 Snell Ave San Jose CA 95136  3231
 3232             953 McLaughlin Ave San Jose CA 95122  3232
 3233             3327 San Felipe Rd San Jose CA 95135  3233
 3234                   5973 Hiline Rd Austin TX 78734  3234
 3235      3600 Presidential Boulevard Austin TX 78719  3235
 3236                 4410 Manchaca Rd Austin TX 78745  3236
 3237                     18 King St New York NY 10014  3237
 3238                1659 Branham Ln San Jose CA 95118  3238
 3239                  102 Willow St San Jose CA 95110  3239
 3240             2227 Alum Rock Ave San Jose CA 95116  3240
 3241                  1011 Story Rd San Jose CA 95122  3241
 3242                1401 Almaden Rd San Jose CA 95111  3242
 3243                672 Coleman Ave San Jose CA 95110  3243
 3244                  564 Grand Ave Brooklyn NY 11238  3244
 3245                  328 W 44th St New York NY 10036  3245
 3246                   999 Story Rd San Jose CA 95122  3246
 3247               1664 Park Avenue New York NY 10035  3247

 [3248 rows x 6 columns],
 'rtable':      number_of_reviews price_range ratingValue                         name  \
 0                   24         $20         4.6         la victoria taqueria
 1                   19         $40         4.6                  the counter
 2                   44         $20         4.9           falafel's drive-in
 3                   17         $40         4.4               new krung thai
 4                   28         $70         4.1               original joe's
 5                    6         $30         4.2                    adelita's
 6                   14         $65         4.0      maggiano's little italy
 7                   26         $40         4.4                blue rock bbq
 8                   16         $43         4.2              zeni ethiopian
 9                    9         $35         4.3              sam's bar-b-que
 10                  14         $65         4.0                  amber india
 11                  15         $75         4.1              henry's hi-life
 12                  13         $13         3.7                   yard house
 13                  12         $30         4.7              in-n-out burger
 14                  11         $45         4.2                 pizza antica
 15                   7         $43         4.0                     scramblz
 16                  12         $43         4.3           naglee park garage
 17                  10         $45         4.0                 aqui cal-mex
 18                   8         $80         4.3                         bj's
 19                  14         $40         4.3                   il fornaio
 20                  12         $25         4.0                  habana cuba
 21                   2         $60         4.1                         aqui
 22                   2         $50         3.1                     pieology
 23                  10         $45         3.7    blowfish sushi to die for
 24                  11         $40         3.7                      straits
 25                   5         $35         3.8            poor house bistro
 26                  27         $20         4.3                   p. terry's
 27                 129         $25         4.5           pike place chowder
 28                  38         $50         4.3        hyde park bar & grill
 29                  38         $40         4.0                  la barbecue
 ...                ...         ...         ...                          ...
 3214                14         $50         3.7                 uncle nick's
 3215                16         $60         4.0            caracas arepa bar
 3216                19         $60         3.8                 gustorganics
 3217                16        $150         3.6                       robert
 3218                 7         $50         2.9               the malt house
 3219                13        $120         3.9               joseph leonard
 3220                 9         $60         4.0               tortilla flats
 3221                13         $50         4.3                    saraghina
 3222                10         $80         4.1                    sugarcane
 3223                10         $20         4.0          best bagel & coffee
 3224                22         $40         4.0                neptune diner
 3225                 9         $65         3.2                        haldi
 3226                12         $75         3.7                  aurora soho
 3227                14         $60         4.3                zenon taverna
 3228                11         $60         3.4                 lantern thai
 3229                11        $120         3.6                    indochine
 3230                15         $40         3.7                ping seafood
 3231                13        $100         3.6             saxon and parole
 3232                20         $50         3.9                peacefood caf
 3233                20         $60         3.9                 tout va bien
 3234                11         $60         2.1               kailash parbat
 3235                15        $150         4.2        jack the horse tavern
 3236                 6         $70         3.8                   blaue gans
 3237                14         $40         3.5      panna ii garden indian
 3238                11        $100         3.9                     kanoyama
 3239                14         $40         4.0  sammy's noodle shop & grill
 3240                15         $15         4.0                        baked
 3241                16         $30         4.1               habana outpost
 3242                20        $105         4.5                   forlini's
 3243                15        $100         3.7               hecho en dumbo

                                                                           address  \
 0                                        140 East San Carlos St San Jose CA 95112
 1                       Santana Row 3055 Olin Avenue Suite 1035 San Jose CA 95128
 2                                       2301 Stevens Creek Blvd San Jose CA 95128
 3                                        640 S Winchester Blvd  San Jose CA 95128
 4                                            301 South First St San Jose CA 95113
 5                                           1896 Curtner Avenue San Jose CA 95124
 6                       Santana Row 3055 Olin Avenue Suite 1000 San Jose CA 95128
 7                                          3001 Meridian Avenue San Jose CA 95124
 8                                          1320 Saratoga Avenue San Jose CA 95129
 9                                      1110 South Bascom Avenue San Jose CA 95128
 10                                   377 Santana Row Suite 1140 San Jose CA 95128
 11                                          301 West St John St San Jose CA 95110
 12                                    300 Santana Row Suite 101 San Jose CA 95128
 13                                       5611 Santa Teresa Blvd San Jose CA 95123
 14                                              334 Santana Row San Jose CA 95128
 15                                      5055 Almaden Expressway San Jose CA 95118
 16                                       505 East San Carlos St San Jose CA 95112
 17                                            5679 Snell Avenue San Jose CA 95123
 18                     Westfield Oakridge 925 Blossom Hill Road San Jose CA 95123
 19                                             302 S Market St  San Jose CA 95113
 20                                                  238 Race St San Jose CA 95126
 21                                          1145 Lincoln Avenue San Jose CA 95125
 22                                           1095 E Brokaw Road San Jose CA 95131
 23                                              355 Santana Row San Jose CA 95128
 24                                              333 Santana Row San Jose CA 95128
 25                                               91 S Autumn St San Jose CA 95110
 26                                               404 S Lamar Blvd Austin TX 78704
 27                             Pike Place Market 1530 Post Alley Seattle WA 98101
 28                                                  4206 Duval St Austin TX 78751
 29                                         1906 E Cesar Chavez St Austin TX 78702
 ...                                                                           ...
 3214                                             747 9th Avenue New York NY 10019
 3215                                               291 Grand St Brooklyn NY 11211
 3216                                 519 Avenue of the Americas New York NY 10011
 3217  The Museum of Arts and Design 2 Columbus Circle 9th Floor New York NY 10019
 3218                                            206 Thompson St New York NY 10012
 3219                                          170 Waverly Place New York NY 10014
 3220                                          767 Washington St New York NY 10014
 3221                                              435 Halsey St Brooklyn NY 11233
 3222                                        238 Flatbush Avenue Brooklyn NY 11217
 3223                                              225 W 35th St New York NY 10001
 3224                                           31-05 Astoria Blvd Queens NY 11102
 3225                                    102 Lexington Avenue New York NY NY 10016
 3226                                              510 Broome St New York NY 10013
 3227                                            34-10 31st Avenue Queens NY 11106
 3228                                                     101 Montague St NY 11201
 3229                                           430 Lafayette St New York NY 10003
 3230                                                 22 Mott St New York NY 10013
 3231                                                 316 Bowery New York NY 10012
 3232                                       460 Amsterdam Avenue New York NY 10024
 3233                                              311 W 51st St New York NY 10019
 3234                                        99 Lexington Avenue New York NY 10016
 3235                                                66 Hicks St Brooklyn NY 11201
 3236                                               139 Duane St New York NY 10013
 3237                                              93 1st Avenue New York NY 10003
 3238                                             175 2nd Avenue New York NY 10003
 3239                                         453-461 6th Avenue New York NY 10011
 3240                                           359 Van Brunt St Brooklyn NY 11231
 3241                                              757 Fulton St Brooklyn NY 11217
 3242                                               93 Baxter St New York NY 10013
 3243                                                 354 Bowery New York NY 10012

         ID
 0        0
 1        1
 2        2
 3        3
 4        4
 5        5
 6        6
 7        7
 8        8
 9        9
 10      10
 11      11
 12      12
 13      13
 14      14
 15      15
 16      16
 17      17
 18      18
 19      19
 20      20
 21      21
 22      22
 23      23
 24      24
 25      25
 26      26
 27      27
 28      28
 29      29
 ...    ...
 3214  3214
 3215  3215
 3216  3216

In [ ]:
H = em.extract_feature_vecs(G, match_f, attrs_before=['title'], attrs_after=['gold_labels'])

In [ ]:
H = em.extract_feature_vecs(G, features=match_f, attrs_before=['title'], attrs_after=['gold_labels'])

In [ ]:
H.fillna(value=0, inplace=True)

In [ ]:
dt = em.DTMatcher(max_depth=5)

In [ ]:
dt.fit(table=H, exclude_attrs=['_id', 'ltable_id', 'rtable_id'], target_attr='gold_labels')

In [ ]:
dt.predict(table=H, exclude_attrs=['_id', 'ltable_id', 'rtable_id'], target_attr='predicted_labels', append=True, inplace=True)

In [ ]:
train_test = em.split_train_test(devel, 0.5)

In [ ]:
train, test = train_test['train'], train_test['test']

In [ ]:
em.vis_debug_dt(dt, train, test, exclude_attrs=['_id', 'ltable_id', 'rtable_id'], target_attr='gold_labels')